html,body{margin:0; padding:0; overflow:hidden; width:100%; height:100%;
    /*font:1em/1 Helvetica,Tahoma,Arial,\5b8b\4f53,sans-serif;*/
    font: 14px Candara,\5FAE\8F6F\96C5\9ED1,Verdana,sans-serif;
    ime-mode:disabled;
}
.presentation{width:100%; height:100%; position:relative;}
    .slides{margin:10px 10px 10px 210px; width:100%; height:100%; position:absolute;}

    .vimlide-outline{border-right:1px solid #eee; background:#f8f8f8 none; position:fixed; left:0; top:0; width:200px; bottom:0; display:block;
        -moz-box-shadow:0 0 8px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
    }
        .vimlide-outline h4{position:relative; margin:0; padding:5px; background:#f8f8f8; border-bottom:1px solid #eee;
            -moz-box-shadow:-4px 0 4px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
        }
        .vimlide-outlinebar{position:absolute; right:-16px; top:8px; width:16px; height:16px;
            font-size:.8em; text-decoration:none; color:#333; text-align:center;
            border-width:1px 1px 1px 0; border-style:solid; border-color:#eee; background:#f8f8f8 none;
            -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
            -moz-box-shadow:0 0 8px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
        }
        .vimlide-outline-box{overflow:hidden; height:95%; position:relative}
        .vimlide-outline-box:hover{overflow:auto; overflow-x:hidden\9; overflow-y:auto\9;}
        .vimlide-outline-bd{position:absolute; left:0; top:0; margin:0; padding:2em;}
        .vimlide-outline-bd a{color:#666; text-decoration:none;}
        .vimlide-outline-bd li.slide-search a{background:#ff0 none; color:#333;}
        .vimlide-outline-bd li:hover a{background:#eee; color:#000;}
        .vimlide-outline-bd li.active a{background:blue!important; color:#fff;}

    .vimlide-statusline{position:fixed; right:20px; bottom:20px;}
    .vimlide-toolbar{border:1px solid #eee; background:#f8f8f8 none;
        -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    }
    .vimlide-toolbar:hover{border-color:#666;}
        .vimlide-pagebox{border:1px solid #fff; font-size:14px; font-weight:bold; line-height:1.3em; padding:2px 0; width:2em; text-align:right;
            font:1em/1 Helvetica,Tahoma,Arial,\5b8b\4f53,sans-serif; font-weight:bold;
            -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
        }
        .status-bar{border:1px solid #FAD163; display:none; overflow:hidden;
            font:2em/1 Helvetica,Tahoma,Arial,\5b8b\4f53,sans-serif;
            padding-left:4px; width:98%; *width:10em;
            background:#FFF7D7 none;
            -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
        }
        .status-bar:hover{border-color:#ccc;}
            .status-bar input{
                font:1em/1 Helvetica,Tahoma,Arial,\5b8b\4f53,sans-serif;
                display:inline-block; width:92%; *width:8em;
                background:#FFF7D7 none;
                outline:none; border:0px solid #FFF7D7; line-height:1.2em; margin:0; padding:2px 3px;
            }
        .vimlide-pagebox:hover,.vimlide-pagebox:focus{border-color:#666; background:#999 none; color:#fff;}
        .vimlide-toolbar a{color:#999; padding:5px; display:inline-block; text-decoration:none; cursor:pointer;}
        .vimlide-toolbar a:hover{color:#fff; background:#666;}
        #btn-backword{}
        #btn-pause{display:none!important;}
    .vimlide-help{
        background:#000 none; color:#fff;
        display:none;
        position:absolute; left:100px; top:50px; width:90%; height:90%;
        -moz-opacity:.9; opacity:.9; -ms-filter:"alpha(opacity=90)"; filter:alpha(opacity=90); zoom:1;
        /*background:transparent url(frame_grey.png);*/
        -moz-border-radius:16px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
    }
        .vimlide-help table{border-collapse:collapse; border-spacing:0; width:90%; margin:2em auto;}
        .vimlide-help thead th{font-size:1.5em; text-align:left; border-bottom:1px solid #ccc;}
        .vimlide-help-close{text-align:right!important;}
        .vimlide-help td{vertical-align:top; padding:5px;}
        .vimlide-help tbody th{color:#c5da01; vertical-align:top; text-align:right; padding-right:8px; font-family:"Courier New"; font-size:1em; width:150px; white-space:nowrap;}

.vimlide-msg{
    display:none;
    position:absolute; top:0; left:50%; width:20em; margin-left:-10em; border:1px solid #FFF1A8; color:#000; background:#FFF1A8 none; text-align:center;
    padding:2px 5px;
    -moz-opacity:.8; opacity:.8; -ms-filter:"alpha(opacity=80)"; filter:alpha(opacity=80); zoom:1;
    -moz-border-radius:0 0 4px 4px;
    -khtml-border-radius:0 0 4px 4px;
    -webkit-border-top-left-radius:0; -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px;
     border-radius:0 0 4px 4px;
}

div.slide{display:block; width:100%; height:100%;}
cite.slide-search{background:#ff0 none; font-style:normal; font-weight:bold;}



.slide header{
    /*position: absolute;*/
    left: 30px;
    top: 25px;
    margin: 0;
    padding: 0;
    font-size: 50px;
    letter-spacing: -.05em;
    text-shadow: rgba(0,0,0,0.2) 0 2px 5px;
}
.slide section{
    margin-left: 30px;
    margin-right: 30px;
    /*margin-top: 100px;*/
    display: block;
    overflow: hidden;
    font-size: 50px;
    color: #3f3f3f;
    text-shadow: rgba(0,0,0,0.2) 0 2px 5px;
    line-height: 1.5;
}
.slide p{
    font-size: 25px;
    margin: 10px 0;
}
.slide h1{
    padding: 0;
    margin: 0;
    letter-spacing: -2px;
    font-size: 60px;
}
.slide h2{
    padding: 0;
    margin: 15px 0 5px 0;
    font-size: 50px;
    font-weight: normal;
}
.slide a{
    text-decoration: none;
    line-height: 110%;
}
.slide button{
    font-size: 20px;
}
.slide blockquote,ul,ol,dl{
    margin: 1em;
}
.slide ul,.slide ol,.slide dl{
    margin-left: 2em;
    font-size: 40px;
}
.slide li{
    list-style: none;
}
.slide .small li{
    font-size: 25px;
}
.slide ul li:before{
    content: '· ';
}
.slide dl dd{
    margin-left: 1em;
}
.slide th,.slide td{
    padding: .5em;
}
.slide caption{
    margin-bottom: .5em;
}
.slide hr{
    visibility: hidden;
    padding: 0;
    margin: 0 0 -20px 0;
}
.slide section.intro h1{
    /*margin-top: 80px;*/
}
.slide section.intro p{
    font-size: 35px;
}
.slide section.intro .author{
    /*margin-top: 120px;*/
    margin-bottom: -40px;
}
.slide .notes{
    display: none;
}
.slide section.center{
    line-height: 180%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /*height: 700px;*/
    /*width: 900px;*/
}
.slide blockquote{
    font-size: 20px;
    white-space: pre;
    padding: 10px 20px;
    background: rgba(0,0,255,0.05);
    border-radius: 8px;
    border: 1px solid rgba(0,0,255,0.2);
    text-shadow: none;
}
.slide pre,.pre{
    display: block;
    white-space: pre;
    text-align: left;
    font-size: 16px;
    font-family: 'Bitstream Vera Sans Mono',Courier,monospace;
    padding: 10px 20px;
    background: rgba(255,0,0,0.05);
    border-radius: 8px;
    border: 1px solid rgba(255,0,0,0.2);
    text-shadow: none;
}
.slide pre b{
    font-weight: normal;
    color: #c61800;
    text-shadow: #c61800 0 0 1px;
}
.slide pre em{
    font-weight: normal;
    font-style: normal;
    color: #18a600;
    text-shadow: #18a600 0 0 1px;
}
.slide .css,.slide .js,.slide .html{
    color: black;
    display: inline-block;
    padding: 6px 10px 3px 10px;
    font-size: 25px;
    line-height: 30px;
    text-shadow: none;
    letter-spacing: 0;
    bottom: 10px;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: white;
    box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 2px 5px;
}
.slide .css{
    background: -webkit-gradient(linear,left top,left bottom,from(#ff4),to(#ffa));
    background: -moz-linear-gradient(left top,#ff4,#ffa);
    background-color: #ff4;
}
.slide .js{
    background: -webkit-gradient(linear,left top,left bottom,from(#4f4),to(#afa));
    background: -moz-linear-gradient(left top,#4f4,#afa);
    background: #4f4;
}
.slide .html{
    background: -webkit-gradient(linear,left top,left bottom,from(#e88),to(#fee));
    background: -moz-linear-gradient(left top,#e88,#fee);
    background: #e88;
}
